<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            display: inline;
            margin: 20px;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            height: 20px;
        }
        
        nav {
            background-color: cornflowerblue;
            padding: 5px;
        }
        
        .input {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li id="logo">
                <a href="/">MyLocalStores</a>
            </li>
            <li>
                <a href="/addshop">AddShop</a>
            </li>
        </ul>
    </nav>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="input">
                <h1>Add Shop</h1>
            </div>
            <div class="input">
                <label for="shop-name">Shop-Name :</label>
                <input type="text" name="shopname" required>
            </div>
            <div class="input">
                <label for="about-shop">About Shop:</label>
                <input type="text" name="about" required>
            </div>
            <div class="input">
                <label for="cover-img">Cover image :</label>
                <input type="file" name="file1" required>
            </div>
            <div class="input">
                <label for="shop-img">Shop images :</label>
                <input type="file" name="file2" required multiple>
            </div>
            <div class="input">
                <label for="location">Location :</label>
                <input type="text" name="location">
            </div>
            <div class="input">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>